<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.acceleo.tutorial.webapp.presentation.WebappModelWizardID"
            name="%_UI_WebappModelWizard_label"
            class="org.eclipse.acceleo.tutorial.webapp.presentation.WebappModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WebappModelFile.gif">
         <description>%_UI_WebappModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.acceleo.tutorial.webapp.presentation.WebappEditorID"
            name="%_UI_WebappEditor_label"
            icon="icons/full/obj16/WebappModelFile.gif"
            extensions="webapp"
            class="org.eclipse.acceleo.tutorial.webapp.presentation.WebappEditor"
            contributorClass="org.eclipse.acceleo.tutorial.webapp.presentation.WebappActionBarContributor">
      </editor>
   </extension>

</plugin>
